@font-face {
  font-family: "MyFont";
  src: url("/assets/font/NanumBarunGothic-YetHangul.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MyLogoFont";
  src: url("/assets/font/OneShinhanBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
